.container-flex{
    display:flex;
    justify-content:space-around;
    align-items:center;

    border:solid red 2px;
    height: 90vh;
}

@media (max-width: 600px) {
    .container-flex{
        flex-direction:column;
        border:solid 2px blue;

        align-items: flex-end;
        justify-content: center;
    }
}


.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;

    height: 90vh;
    grid-gap:20px;

    padding:0 50px 0 50px;
}

.container div{
    justify-items: center;
}

div{
    border:solid red 3px;
}


