.container{
    display:grid;

    grid-template-areas: "cabecera cabecera cabecera" 
                        "otro seccion barra"
                        "pie pie pie";   

    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows:80px 400px 80px;
    grid-gap:10px;
}

header{
    background:red;
    grid-area: cabecera;
    display:flex;
    justify-content;
}
section{
    background:blue;
    grid-area: seccion;
}

aside{
    background:green;
    grid-area: barra;
}

footer{
    background:greenyellow;
    grid-area: pie;
}

.otro{
    grid-area:otro;
    background:black;
}


@media(max-width:600px){
    .container{
        grid-template-areas:"cabecera cabecera"
                            "seccion seccion"
                            "pie pie"
    }
}